<app-progress *ngIf="dataLoading"></app-progress>

<main id="ad-main" *ngIf="action.ResponseReceived">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <span class="p-1">Subject List</span>
            <button *ngIf="action.CanCreate" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" (click)="resetForm()">New
                Subject</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{Subject.SubjectId > 0 ?
                            'Update':'New'}}
                            Subject
                        </h1>
                        <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="resetForm()"></button>
                    </div>
                    <div class="modal-body">

                        <form #SubjectForm="ngForm">
                            <div class="container">
                                <div class="row">

                                    <mat-form-field appearance="outline" class="col-sm-6">

                                        <mat-label>Subject Name</mat-label>
                                        <input matInput #SubjectName="ngModel" name="SubjectName"
                                            [(ngModel)]="Subject.SubjectName" required autofocus>
                                        <mat-error
                                            *ngIf="(SubjectName.dirty  || SubjectName.touched) || (SubjectName.invalid && isSubmitted)">
                                            Subject is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>



                                    <mat-form-field appearance="outline" class="col-sm-6">

                                        <mat-label>Text Book</mat-label>
                                        <input matInput #TextBook="ngModel" name="TextBook"
                                            [(ngModel)]="Subject.TextBook" autofocus>

                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="col-sm-6">

                                        <mat-label>Reference Book</mat-label>
                                        <input matInput #ReferenceBook="ngModel" name="ReferenceBook"
                                            [(ngModel)]="Subject.ReferenceBook" reuired autofocus>

                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="col-sm-6">
                                        <mat-label>Status</mat-label>
                                        <mat-select #Status="ngModel" name="Status" [(ngModel)]="Subject.Status"
                                            required>
                                            <mat-option [value]="status.Key"
                                                *ngFor="let status of StatusList">{{status.Value}}</mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="(Status.dirty  || Status.touched) || (Status.invalid && isSubmitted)">
                                            Status is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                        </form>
                        <div class="modal-footer mt-2">
                            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"
                                (click)="resetForm()">Cancel</button>
                            <button class="btn btn-primary" (click)="saveSubject(SubjectForm)">{{Subject.SubjectId >
                                0 ? 'Update':'Add'}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body ">

            <div class="table-container overflow-auto">

                <div class="dataTable-top d-flex justify-content-between m-2" s>
                    <div class="dataTable-dropdown d-flex">
                        <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                            <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                        </select>
                        <span class="ms-2" style="white-space: nowrap;">Entries per page</span>
                    </div>
                    <div class="dataTable-search">
                        <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                            placeholder="Search..." type="text">
                    </div>
                </div>

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th style="cursor:pointer;" (click)="sort('SubjectName')">Subject <i
                                    class="bi bi-arrow-down-up"></i></th>

                            <th style="cursor:pointer;" (click)="sort('TextBook')">Text Book <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th style="cursor:pointer;" (click)="sort('ReferenceBook')">Reference Book <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th style="cursor:pointer;" (click)="sort('Status')">Status <i
                                    class="bi bi-arrow-down-up"></i></th>
                            <th *ngIf="action.CanEdit">Edit</th>
                            <th *ngIf="action.CanDelete">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of SubjectList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{item.SubjectName}}</td>

                            <td>{{item.TextBook}}</td>
                            <td>{{item.ReferenceBook}}</td>
                            <td>
                                <span class="p-1"
                                    [ngClass]="item.Status == 1 ? 'badge text-bg-success':'badge text-bg-danger'">
                                    {{item.StatusName}}
                                </span>
                            </td>
                            <td *ngIf="action.CanEdit">
                                <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop" (click)="editSubject(item)">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </td>
                            <td *ngIf="action.CanDelete">
                                <button class="btn btn-sm btn-danger" (click)="deleteSubject(item)">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="dataTable-bottom">
                    <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
                        class="my-pagination"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

</main>