<main id="ad-main" *ngIf="action.ResponseReceived && action.CanCreate">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <span>New Student</span>
            <a routerLink="/admin/student">Student List</a>
        </div>
        <div class="card-body">

            <form #StudentForm="ngForm">
                <div class="container">
                    <p>Personal Information</p>
                    <div class="row">

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>University Roll</mat-label>
                            <input type="number" matInput #UniversityRoll="ngModel" name="UniversityRoll"
                                [(ngModel)]="Student.UniversityRoll" autofocus>
                            <!--<mat-error
                                *ngIf="(UniversityRoll.dirty  || UniversityRoll.touched) || (UniversityRoll.invalid && isSubmitted)">
                                University Roll is <strong>required</strong>
                            </mat-error>-->
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Student Name</mat-label>
                            <input matInput #StudentName="ngModel" name="StudentName" [(ngModel)]="Student.StudentName"
                                required autofocus>
                            <mat-error
                                *ngIf="(StudentName.dirty  || StudentName.touched) || (StudentName.invalid && isSubmitted)">
                                Student Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Class Roll no</mat-label>
                            <input type="number" matInput #ClassRoll="ngModel" name="ClassRoll"
                                [(ngModel)]="Student.ClassRoll" required autofocus>
                            <mat-error
                                *ngIf="(ClassRoll.dirty  || ClassRoll.touched) || (ClassRoll.invalid && isSubmitted)">
                                Class Roll no is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>



                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Session</mat-label>
                            <mat-select #Session="ngModel" name="Session" [(ngModel)]="Student.SessionId" required>
                                <mat-option *ngFor="let option of SessionList" [value]="option.SessionId">
                                    {{option.SessionName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="(Session.dirty  || Session.touched) || (Session.invalid && isSubmitted)">
                                Session is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Admission No.</mat-label>
                            <input matInput #AdmissionNo="ngModel" name="AdmissionNo" [(ngModel)]="Student.AdmissionNo"
                                required autofocus>
                            <mat-error
                                *ngIf="(AdmissionNo.dirty  || AdmissionNo.touched) || (AdmissionNo.invalid && isSubmitted)">
                                Admission No. is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Gender</mat-label>
                            <mat-select #Gender="ngModel" name="Gender" [(ngModel)]="Student.Gender" required>
                                <mat-option [value]="gender.Key"
                                    *ngFor="let gender of GenderList">{{gender.Value}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="(Gender.dirty  || Gender.touched) || (Gender.invalid && isSubmitted)">
                                Gender is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>DOB</mat-label>
                            <input matInput #DOB="ngModel" name="DOB" [(ngModel)]="Student.DOB" required
                                [matDatepicker]="DOBPicker">
                            <mat-datepicker-toggle matIconSuffix [for]="DOBPicker"></mat-datepicker-toggle>
                            <mat-datepicker #DOBPicker></mat-datepicker>
                            <mat-error *ngIf="(DOB.dirty  || DOB.touched) || (DOB.invalid && isSubmitted)">
                                DOB is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Email</mat-label>
                            <input matInput email="true" #Email="ngModel" name="Email" [(ngModel)]="Student.Email" required
                                autofocus>
                            <mat-error *ngIf="(Email.dirty  || Email.touched) || (Email.invalid && isSubmitted)">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Mobile No</mat-label>
                            <input type="number" matInput #MobileNo="ngModel" name="MobileNo"
                                [(ngModel)]="Student.MobileNo" required autofocus>
                            <mat-error
                                *ngIf="(MobileNo.dirty  || MobileNo.touched) || (MobileNo.invalid && isSubmitted)">
                                Mobile No is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Alternate Mobile No</mat-label>
                            <input type="number" matInput #AlternateMobileNo="ngModel" name="AlternateMobileNo"
                                [(ngModel)]="Student.AlternateMobileNo" autofocus>

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Aadhaar No</mat-label>
                            <input type="number" matInput #AadhaarNo="ngModel" name="AadhaarNo"
                                [(ngModel)]="Student.AadhaarNo"  autofocus>
                            <!--<mat-error
                                *ngIf="(AadhaarNo.dirty  || AadhaarNo.touched) || (AadhaarNo.invalid && isSubmitted)">
                                Aadhaar No is <strong>required</strong>
                            </mat-error>-->
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>BloodGroup</mat-label>
                            <mat-select #BloodGroup="ngModel" name="BloodGroup" [(ngModel)]="Student.BloodGroup"
                                required>
                                <mat-option [value]="BloodGroup.Key"
                                    *ngFor="let BloodGroup of BloodGroupList">{{BloodGroup.Value}}</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="(BloodGroup.dirty  || BloodGroup.touched) || (BloodGroup.invalid && isSubmitted)">
                                BloodGroup is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>


                        <mat-divider></mat-divider>

                    </div>

                    <div class="row">
                        <p>Guardian Information</p>
                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Father's Name</mat-label>
                            <input matInput #FatherName="ngModel" name="FatherName" [(ngModel)]="Student.FatherName"
                                required autofocus>
                            <mat-error
                                *ngIf="(FatherName.dirty  || FatherName.touched) || (FatherName.invalid && isSubmitted)">
                                Father's Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Father's Occupation</mat-label>
                            <input matInput #FatherOccupation="ngModel" name="FatherOccupation"
                                [(ngModel)]="Student.FatherOccupation" autofocus>
                            <mat-error
                                *ngIf="(FatherOccupation.dirty  || FatherOccupation.touched) || (FatherOccupation.invalid && isSubmitted)">
                                Father's Occupation is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Mother's Name</mat-label>
                            <input matInput #MotherName="ngModel" name="MotherName" [(ngModel)]="Student.MotherName"
                                required autofocus>
                            <mat-error
                                *ngIf="(MotherName.dirty  || MotherName.touched) || (MotherName.invalid && isSubmitted)">
                                Mother's Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Mother's Occupation</mat-label>
                            <input matInput #MotherOccupation="ngModel" name="MotherOccupation"
                                [(ngModel)]="Student.MotherOccupation" autofocus>
                            <mat-error
                                *ngIf="(MotherOccupation.dirty  || MotherOccupation.touched) || (MotherOccupation.invalid && isSubmitted)">
                                Mother's Occupation is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Guardian Mobile No</mat-label>
                            <input type="number" matInput #GuardianMobileNo="ngModel" name="GuardianMobileNo"
                                [(ngModel)]="Student.GuardianMobileNo" required autofocus>
                            <mat-error
                                *ngIf="(GuardianMobileNo.dirty  || GuardianMobileNo.touched) || (GuardianMobileNo.invalid && isSubmitted)">
                                Guardian Mobile No is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-divider></mat-divider>
                    </div>

                    <div class="row">
                        <p>Address - Correspondence</p>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Address</mat-label>
                            <input matInput #CorrespondenceAddress="ngModel" name="CorrespondenceAddress"
                                [(ngModel)]="Student.CorrespondenceAddress" required autofocus>
                            <mat-error
                                *ngIf="(CorrespondenceAddress.dirty  || CorrespondenceAddress.touched) || (CorrespondenceAddress.invalid && isSubmitted)">
                                Address is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>State</mat-label>
                            <mat-select #CorrespondenceState="ngModel" name="CorrespondenceState"
                                [(ngModel)]="Student.CorrespondenceStateId" required
                                (selectionChange)="onStateChange(1)">
                                <mat-option *ngFor="let option of StateList" [value]="option.StateId">
                                    {{option.StateName}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="(CorrespondenceState.dirty  || CorrespondenceState.touched) || (CorrespondenceState.invalid && isSubmitted)">
                                State is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>City</mat-label>
                            <mat-select #CorrespondenceCity="ngModel" name="CorrespondenceCity"
                                [(ngModel)]="Student.CorrespondenceCityId" required>
                                <mat-option *ngFor="let option of cCityList" [value]="option.CityId">
                                    {{option.CityName}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="(CorrespondenceCity.dirty  || CorrespondenceCity.touched) || (CorrespondenceCity.invalid && isSubmitted)">
                                City is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>PinCode</mat-label>
                            <input type="number" matInput #CorrespondencePinCode="ngModel" name="CorrespondencePinCode"
                                [(ngModel)]="Student.CorrespondencePinCode" required autofocus>
                            <mat-error
                                *ngIf="(CorrespondencePinCode.dirty  || CorrespondencePinCode.touched) || (CorrespondencePinCode.invalid && isSubmitted)">
                                PinCode is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="row">
                        <p>Address - Permanent : <small>
                                <mat-checkbox color="primary" id="sameAsCorr" #sameAsCorr (click)="sameAsCorrespondence(sameAsCorr)">
                                    same as
                                    correspondence</mat-checkbox>
                            </small></p>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Address</mat-label>
                            <input matInput #PermanentAddress="ngModel" name="PermanentAddress"
                                [(ngModel)]="Student.PermanentAddress" required autofocus>
                            <mat-error
                                *ngIf="(PermanentAddress.dirty  || PermanentAddress.touched) || (PermanentAddress.invalid && isSubmitted)">
                                Address is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>State</mat-label>
                            <mat-select #PermanentState="ngModel" name="PermanentState"
                                [(ngModel)]="Student.PermanentStateId" required (selectionChange)="onStateChange(2)">
                                <mat-option *ngFor="let option of StateList" [value]="option.StateId">
                                    {{option.StateName}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="(PermanentState.dirty  || PermanentState.touched) || (PermanentState.invalid && isSubmitted)">
                                State is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>City</mat-label>
                            <mat-select #PermanentCity="ngModel" name="PermanentCity"
                                [(ngModel)]="Student.PermanentCityId" required>
                                <mat-option *ngFor="let option of pCityList" [value]="option.CityId">
                                    {{option.CityName}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="(PermanentCity.dirty  || PermanentCity.touched) || (PermanentCity.invalid && isSubmitted)">
                                City is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>PinCode</mat-label>
                            <input type="number" matInput #PermanentPinCode="ngModel" name="PermanentPinCode"
                                [(ngModel)]="Student.PermanentPinCode" required autofocus>
                            <mat-error
                                *ngIf="(PermanentPinCode.dirty  || PermanentPinCode.touched) || (PermanentPinCode.invalid && isSubmitted)">
                                PinCode is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <p>Additional Information</p>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Category</mat-label>
                            <mat-select #Category="ngModel" name="Category" [(ngModel)]="Student.Category" required>
                                <mat-option [value]="Category.Key"
                                    *ngFor="let Category of CategoryList">{{Category.Value}}</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="(Category.dirty  || Category.touched) || (Category.invalid && isSubmitted)">
                                Category is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Religion</mat-label>
                            <mat-select #Religion="ngModel" name="Religion" [(ngModel)]="Student.Religion" required>
                                <mat-option [value]="Religion.Key"
                                    *ngFor="let Religion of ReligionList">{{Religion.Value}}</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="(Religion.dirty  || Religion.touched) || (Religion.invalid && isSubmitted)">
                                Religion is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>



                    </div>

                    <div class="row">
                        <p>Student Status</p>
                        <mat-form-field appearance="outline" class="col-sm-4 col-lg-3">
                            <mat-label>Status</mat-label>
                            <mat-select #Status="ngModel" name="Status" [(ngModel)]="Student.Status" required>
                                <mat-option [value]="status.Key"
                                    *ngFor="let status of StatusList">{{status.Value}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="(Status.dirty  || Status.touched) || (Status.invalid && isSubmitted)">
                                Status is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </form>
        </div>
        <div class="card-footer" style="text-align: center;">
            <button class="btn btn-primary" (click)="saveStudent(StudentForm)">Add</button>
        </div>
    </div>
</main>