<!--<app-preloader *ngIf="preloader"></app-preloader>-->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center text-white">
    <div id="particles-js"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>Bachelor Of Computer Application</h1>
                <h2 >Where Bytes of knowledge merge into a symphony of innovation</h2>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="assets/img/main.gif" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>

<main id="main">

    <div class="card p-3 prog-lang">
        <div style="text-align: center;">
            <span ngbTooltip="C"><img src="../../assets/img/programming-lang/c-lang.png" alt=""></span>
            <span  ngbTooltip="C++"><img src="../../assets/img/programming-lang/c-.bak.png" alt=""></span>
            <span  ngbTooltip="Java"><img src="../../assets/img/programming-lang/java.bak.png" alt=""></span>
            <span  ngbTooltip="C#"><img src="../../assets/img/programming-lang/c-sharp.bak.png" alt=""></span>
            <span  ngbTooltip="Maths"><img src="../../assets/img/programming-lang/logarithm.png" alt=""></span>
            <span  ngbTooltip="HTML5"><img src="../../assets/img/programming-lang/html-5.bak.png" alt=""></span>
            <span  ngbTooltip="CSS3"><img src="../../assets/img/programming-lang/css-3.bak.png" alt=""></span>
            <span  ngbTooltip="Javascript"><img src="../../assets/img/programming-lang/js.bak.png" alt=""></span>
            <!--<span  ngbTooltip="PHP"><img src="../../assets/img/programming-lang/php.bak.png" alt=""></span>-->
            <span  ngbTooltip="SQL"><img src="../../assets/img/programming-lang/sql-server.png" alt=""></span>
            <span  ngbTooltip="Networking"><img src="../../assets/img/programming-lang/local-area-network.png" alt=""></span>
            <span  ngbTooltip="Management"><img src="../../assets/img/programming-lang/management.png" alt=""></span>
            <!--<span  ngbTooltip="Logic Design"><img src="../../assets/img/programming-lang/logic.png" alt=""></span>
            <span  ngbTooltip="Computer Architecture"><img src="../../assets/img/programming-lang/processor.png" alt=""></span>-->
        </div>
    </div>

    <app-show-notice></app-show-notice>

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Brings together the latest developments in computer technology, with a focus on developing
                        logical &
                        creative skills required in the IT sector. The program prepares learners for high-paying jobs in
                        the IT
                        sector by providing access to extensive e-libraries, a high-tech virtual programming
                        environment, and
                        webinars from industry experts. Learners will also get an opportunity to upskill through
                        exclusive access
                        to Google Cloud Computing Foundations curriculum.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Become job-ready</li>
                        <li><i class="ri-check-double-line"></i> Build new-age tech skills</li>
                        <li><i class="ri-check-double-line"></i> Workshops for hands on experience</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        We focus on building our student’s 360-degree personality by encouraging them to follow their
                        passion.
                        Apart from studies, our students hold Bennett’s flag high by achieving success in sports ,
                        drama, dance,
                        and music.
                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                    <div class="content">
                        <h3>Program benefits <strong>Get your Dreams Fullfilled With Us</strong></h3>

                    </div>

                    <div class="accordion-list">
                        <ul>
                            <li>
                                <a data-bs-toggle="collapse" class="collapse"
                                    data-bs-target="#accordion-list-1"><span>01</span>
                                    Become job-ready<i class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                    <p>
                                        Become job-ready :
                                        Gain domain expertise through vigorous training in critical software tools like
                                        Oracle, MySQL,
                                        Eclipse, and Visual Studio.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                    class="collapsed"><span>02</span>
                                    Build new-age tech skills <i class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        Build new-age tech skills :
                                        Gain industry-relevant skills like coding, analytical, & statistical skills by
                                        learning key
                                        subjects such as visual programming, digital logic, data structures &
                                        algorithms, mobile
                                        application development, and computer-oriented numerical methods.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                    class="collapsed"><span>03</span>
                                    Workshops for hands-on experience <i class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        Workshops for hands-on experience :
                                        Attend workshops to learn about emerging technologies and gain working knowledge
                                        of software
                                        programming, creation of mobile & web applications, and more.
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
                    style='background-image: url("assets/img/graduation.gif");' data-aos="zoom-in" data-aos-delay="150">
                    &nbsp;
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg bg-light text-dark">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Admissons</h2>
                <p> It is crucial for students to research and choose colleges that align with their academic and
                    personal
                    goals, while also meeting the admission requirements. Planning ahead, staying organized, and seeking
                    guidance from school counselors or college advisors can significantly enhance a student's chances of
                    successful admission to their desired college or universit</p>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                    data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Step 1</a></h4>
                        <p>Enquiry Now about the course/seats availablility</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                    data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Step 2</a></h4>
                        <p>Apply online application for the course </p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                    data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">Step 3</a></h4>
                        <p>Wait for the College Acceptance ASAP !</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                    data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-layer"></i></div>
                        <h4><a href="">Step 4</a></h4>
                        <p>Enrollment : and you are ready for the classes</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta bg-dark text-white">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>Seats Are Limited</h3>
                    <p> The number of students seeking admission to colleges often exceeds the available seats. This
                        leads to
                        intense competition among applicants.Colleges have a limited capacity in terms of
                        infrastructure,
                        classrooms, laboratories, libraries, and other resources. Admitting too many students beyond the
                        capacity
                        could strain the facilities and compromise the quality of education.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Apply Now</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <app-instructor></app-instructor>


</main><!-- End #main -->




<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>