
<div class="container-fluid" style="margin-top: 80px;">
    <!--<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">-->

    <div class="gallery">
        <div class="gallery__column">
            <a href="https://unsplash.com/@jeka_fe" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-1.jpg" alt="Portrait by Jessica Felicio"
                        class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Jessica Felicio</figcaption>
                </figure>
            </a>

            <a href="https://unsplash.com/@oladimeg" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-2.jpg" alt="Portrait by Oladimeji Odunsi"
                        class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Oladimeji Odunsi</figcaption>
                </figure>
            </a>

            <a href="https://unsplash.com/@a2eorigins" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-3.jpg" alt="Portrait by Alex Perez" class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Alex Perez</figcaption>
                </figure>
            </a>
        </div>

        <div class="gallery__column">
            <a href="https://unsplash.com/@noahbuscher" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-4.jpg" alt="Portrait by Noah Buscher"
                        class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Noah Buscher</figcaption>
                </figure>
            </a>

            <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-5.jpg" alt="Portrait by Ivana Cajina"
                        class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Ivana Cajina</figcaption>
                </figure>
            </a>

            <a href="https://unsplash.com/@samburriss" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-6.jpg" alt="Portrait by Sam Burriss"
                        class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Sam Burriss</figcaption>
                </figure>
            </a>
        </div>

        <div class="gallery__column">
            <a href="https://unsplash.com/@marilezhava" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-7.jpg" alt="Portrait by Mari Lezhava"
                        class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Mari Lezhava</figcaption>
                </figure>
            </a>

            <a href="https://unsplash.com/@ethanhaddox" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-8.jpg" alt="Portrait by Ethan Haddox"
                        class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Ethan Haddox</figcaption>
                </figure>
            </a>

            <a href="https://unsplash.com/@mr_geshani" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-9.jpg" alt="Portrait by Amir Geshani"
                        class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Amir Geshani</figcaption>
                </figure>
            </a>
        </div>

        <div class="gallery__column">
            <a href="https://unsplash.com/@frxgui" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-details-1.jpg" alt="Portrait by Guilian Fremaux"
                        class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Guilian Fremaux</figcaption>
                </figure>
            </a>

            <a href="https://unsplash.com/@majestical_jasmin" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-5.jpg" alt="Portrait by Jasmin Chew"
                        class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Jasmin Chew</figcaption>
                </figure>
            </a>

            <a href="https://unsplash.com/@dimadallacqua" target="_blank" class="gallery__link">
                <figure class="gallery__thumb">
                    <img src="assets/img/portfolio/portfolio-details-3.jpg" alt="Portrait by Dima DallAcqua"
                        class="gallery__image">
                    <figcaption class="gallery__caption">Portrait by Dima DallAcqua</figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>