<app-progress *ngIf="dataLoading"></app-progress>

<main id="ad-main" *ngIf="action.ResponseReceived">
	<div class="card">
		<div class="card-header d-flex justify-content-between">
			<span class="p-1">Session Subject List</span>
			<button *ngIf="action.CanCreate" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#staticBackdrop" (click)="resetForm()" >New
				Session Subject</button>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">{{SessionSubject.SessionSubjectId > 0 ?
							'Update':'New'}}
							SessionSubject
						</h1>
						<button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
							(click)="resetForm()"></button>
					</div>
					<div class="modal-body">

						<form #SessionSubjectForm="ngForm">
							<div class="container">
								<div class="row">


									<mat-form-field appearance="outline" class="col-sm-6">
										<mat-label>--select session--</mat-label>
										<mat-select #Session="ngModel" name="Session"
											[(ngModel)]="SessionSubject.SessionId" required>
											<mat-option *ngFor="let option of SessionList" [value]="option.SessionId">
												{{option.SessionName}}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="(Session.dirty  || Session.touched) || (Session.invalid && isSubmitted)">
											Session is <strong>required</strong>
										</mat-error>
									</mat-form-field>

									<mat-form-field appearance="outline" class="col-sm-6">
										<mat-label>Semester</mat-label>
										<!--<input type="number" matInput #Semester="ngModel" name="Semester"
                                            [(ngModel)]="SessionSubject.Semester" required autofocus>-->

										<mat-select #Semester="ngModel" name="Semester"
											[(ngModel)]="SessionSubject.Semester" required autofocusD>
											<mat-option *ngFor="let option of SemesterList"
												[value]="option.Key">{{option.Value}}</mat-option>


										</mat-select>
										<mat-error
											*ngIf="(Semester.dirty  || Semester.touched) || (Semester.invalid && isSubmitted)">
											Semester is <strong>required</strong>
										</mat-error>
									</mat-form-field>

									<!--
                                    <mat-form-field appearance="outline" class="col-sm-6">
                                        <mat-label>--select subject--</mat-label>
                                        <mat-select #Subject="ngModel" name="Subject"
                                            [(ngModel)]="SessionSubject.SubjectId" required>
                                            <mat-option *ngFor="let option of SubjectList" [value]="option.SubjectId">
                                                {{option.SubjectName}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="(Subject.dirty  || Subject.touched) || (Subject.invalid && isSubmitted)">
                                            Subject is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>-->

									<mat-form-field appearance="outline" class="col-sm-6">
										<mat-label>Select Subject</mat-label>
										<input matInput #SubjectName="ngModel" name="SubjectName"
											(ngModelChange)="filterSubjectList(SessionSubject.SubjectName)"
											[(ngModel)]="SessionSubject.SubjectName" [matAutocomplete]="autoSubjectName"
											required>
										<mat-autocomplete #autoSubjectName="matAutocomplete">
											<mat-option *ngFor="let option of SubjectList" [value]="option.SubjectName"
												(onSelectionChange)="SessionSubject.SubjectId = option.SubjectId">
												{{option.SubjectName}}
											</mat-option>
										</mat-autocomplete>
										<mat-error
											*ngIf="(SubjectName.dirty  || SubjectName.touched) || (SubjectName.invalid && isSubmitted)">
											Subject is <strong>required</strong>
										</mat-error>
									</mat-form-field>

									<mat-form-field appearance="outline" class="col-sm-6">
										<mat-label>Subject Type</mat-label>
										<mat-select #SubjectType="ngModel" name="SubjectType"
											[(ngModel)]="SessionSubject.SubjectType" required>
											<mat-option [value]="SubjectType.Key"
												*ngFor="let SubjectType of SubjectTypeList">{{SubjectType.Value}}</mat-option>
										</mat-select>
										<mat-error
											*ngIf="(SubjectType.dirty  || SubjectType.touched) || (SubjectType.invalid && isSubmitted)">
											Subject Type is <strong>required</strong>
										</mat-error>
									</mat-form-field>


									<mat-form-field appearance="outline" class="col-sm-6">
										<mat-label>Subject Code</mat-label>
										<input matInput #SubjectCode="ngModel" name="SubjectCode"
											[(ngModel)]="SessionSubject.SubjectCode" required autofocus>
										<mat-error
											*ngIf="(SubjectCode.dirty  || SubjectCode.touched) || (SubjectCode.invalid && isSubmitted)">
											Subject Code is <strong>required</strong>
										</mat-error>
									</mat-form-field>

									<mat-form-field appearance="outline" class="col-sm-6">
										<mat-label>Status</mat-label>
										<mat-select #Status="ngModel" name="Status" [(ngModel)]="SessionSubject.Status"
											required>
											<mat-option [value]="status.Key"
												*ngFor="let status of StatusList">{{status.Value}}</mat-option>
										</mat-select>
										<mat-error
											*ngIf="(Status.dirty  || Status.touched) || (Status.invalid && isSubmitted)">
											Status is <strong>required</strong>
										</mat-error>
									</mat-form-field>

								</div>
							</div>

						</form>
						<div class="modal-footer mt-2">
							<button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"
								(click)="resetForm()">Cancel</button>
							<button class="btn btn-primary"
								(click)="saveSessionSubject(SessionSubjectForm)">{{SessionSubject.SessionSubjectId >
								0 ? 'Update':'Add'}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card-body ">

			<div class="row">
				<mat-form-field appearance="outline" class="col-sm-4">
					<mat-label>--Select Session--</mat-label>
					<mat-select name="SessionId" [(ngModel)]="SelectedSession.SessionId"
						(selectionChange)="getSessionSubjectList()">
						<mat-option *ngFor="let session of SessionList" [value]="session.SessionId">
							{{session.SessionName}}
						</mat-option>
					</mat-select>
				</mat-form-field>

			</div>

			<div *ngIf="SessionSubjectList.length>0" class="table-container overflow-auto">

				<div class="dataTable-top d-flex justify-content-end m-2">
					<!--
                        <div class="dataTable-dropdown d-flex">
                        <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                            <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                        </select>
                        <span class="ms-2" style="white-space: nowrap;">Entries per page</span>
                    </div>-->
					<div class="dataTable-search">
						<input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
							placeholder="Search..." type="text">
					</div>
				</div>
				<div *ngFor="let semester of SessionSubjectCombined; let i = index;">

					<h3 style="white-space: nowrap;">Semester {{i+1}}</h3>
					<table class="table table-bordered table-hover mb-4"
						*ngIf="semester.length > 0; else noSubjectsTemplate">
						<thead>
							<tr>
								<th>S.No</th>

								<th style="cursor:pointer;" (click)="sort('SubjectName')">Subject Name <i
										class="bi bi-arrow-down-up"></i></th>
								<th style="cursor:pointer;" (click)="sort('SubjectCode')">Subject Code <i
										class="bi bi-arrow-down-up"></i></th>
								<th style="cursor:pointer;" (click)="sort('Status')">Status <i
										class="bi bi-arrow-down-up"></i></th>
								<th *ngIf="action.CanEdit">Edit</th>
								<th *ngIf="action.CanDelete">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="let item of semester |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
								<td>{{i+1}}</td>


								<td>{{item.SubjectName}} <span *ngIf="item.SubjectType != 1"
										[ngClass]="item.SubjectType== 2 ? 'badge text-bg-info':'badge text-bg-warning'">{{item.SubjectTypeName}}</span>
								</td>
								<td>{{item.SubjectCode}}</td>
								<td>
									<span class="p-1"
										[ngClass]="item.Status == 1 ? 'badge text-bg-success':'badge text-bg-danger'">
										{{item.StatusName}}
									</span>
								</td>
								<td *ngIf="action.CanEdit">
									<button class="btn btn-sm btn-warning" data-bs-toggle="modal"
										data-bs-target="#staticBackdrop" (click)="editSessionSubject(item)">
										<i class="bi bi-pencil-square"></i>
									</button>
								</td>
								<td *ngIf="action.CanDelete">
									<button class="btn btn-sm btn-danger" (click)="deleteSessionSubject(item)">
										<i class="bi bi-trash-fill"></i>
									</button>
								</td>
							</tr>
						</tbody>

					</table>

					<!--<div class="dataTable-bottom">
                    <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
                        class="my-pagination"></pagination-controls>
                </div>-->
				</div>

			</div>
		</div>
	</div>

</main>

<ng-template #noSubjectsTemplate>
	<p style="text-align: center;">No Subjects</p>
</ng-template>