<section id="notice" class="notice">
    <div class="container" data-aos="fade-up">
        <div class="row content">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Notice</h2>
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <marquee id="notice-marquee" direction="up">

                    <div class="card notice-content">
                        <span class="notice-title">Exam Notice</span>
                        <i class="bi bi-file-earmark-pdf"></i>
                    </div>

                    <div class="card notice-content">
                        <span class="notice-title">Exam Notice</span>
                        <i class="bi bi-file-earmark-pdf"></i>
                    </div>
<!--
                    <div class="card notice-content">
                        <span class="notice-title">Exam Notice</span>
                        <i class="bi bi-file-earmark-pdf"></i>
                    </div>

                    <div class="card notice-content">
                        <span class="notice-title">Exam Notice</span>
                        <i class="bi bi-file-earmark-pdf"></i>
                    </div>-->

                </marquee>
            </div>
        </div>

    </div>
</section>