<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bca_Department_classes.Properties.Settings.BcaDepartmentConnectionString"
            connectionString="Data Source=.;Initial Catalog=BcaDepartment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bca_Department_classes.Properties.Settings.CollegeERPConnectionString"
            connectionString="Data Source=.;Initial Catalog=CollegeERP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>